@tailwind base;
@tailwind components;
@tailwind utilities;

.dark,
[data-theme="dark"] {
  --nextui-background: 19.2% 21.2% 22%;
}

.setinha::before {
  content: "";
  position: absolute;
  right: 2px;
  top: -3px;
  width: 0;
  height: 0;
  border: 7px solid;
}

.setinha-own::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -5px;
  width: 0;
  height: 0;
  border: 10px solid;
}

.messageList::-webkit-scrollbar {
  width: 10px !important;
}

.messageList::-webkit-scrollbar-track {
  background: transparent !important;
}

.messageList::-webkit-scrollbar-thumb {
  background: #555 !important;
  border-radius: 5px !important;
}

.textarea-message::-webkit-scrollbar {
  width: 10px !important;
}

.textarea-message::-webkit-scrollbar-track {
  background: transparent !important;
}

.textarea-message::-webkit-scrollbar-thumb {
  background: #555 !important;
  border-radius: 5px !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.Card_content__sobre {
  @apply flex p-4 border rounded;
}

.Card_content__title {
  @apply font-bold text-lg m-2;
}

.Card_content__image {
  @apply flex flex-col gap-2 w-max justify-center;
}

.alt_card__image {
  @apply self-end text-[12px] opacity-70;
}

.modal-content {
  padding: 20px;
  border-radius: 10px;
}

.imagem-animation {
  animation: shakeY 5s infinite linear;
}

@keyframes shakeY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
